
select,
input {
    width: 100%;
    box-sizing: border-box;
}
.t2rn {
    color: red;
}
#wrap {
    margin-left: 150px;
    width: 1000px;
    min-height: 500px;
    margin-top: 20px;
}
#menu {
    text-align: right;
    background: skyblue;
}
#menu ul {
    list-style: none;
    margin-right: 10px;
}
#menu > li {
    display: inline-block;
    float: right;
    text-align: center;
    width: 14%;
    background: skyblue;
    margin-top: 105px;
    height: 30px;
}
li a {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    float: right;
}
#headPilt {
    float: left;
    margin-top: 10px;
}
#autod {
    width: 1000px;
    height: 400px;
    margin: 10px;
}
#info {
    float: left;
    width: 400px;
    height: 400px;
}
#kuva {
    float: right;
    width: 400px;
    height: 400px;
    margin-left: 30px;
}
#header {
    border-style: solid;
    border-width: 1px;
    height: 150px;
    background-color: blue;
}
#omadused {
    width: 350px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff8c66;
}
#omadused th {
    background-color: skyblue;
}
#omadused td {
    border-bottom: 1px solid #ff8c66;
    text-align: center;
}
#broneeri {
    width: 100px;
    height: 40px;
    background-color: #ff8c66;
    color: blue;
    font-weight: bold;
    border-style: outset;
    border-color: blue;
    border-width: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}
#algus,
#l6pp {
    width: 100px;
}
#valmis {
    margin-top: 200px;
}
#broneering {
    width: 1000px;
    height: 600px;
    margin: auto;
}
#aeg {
    width: 300px;
    float: left;
}
#valitud {
    width: 300px;
    float: right;
}
button:hover {
    cursor: pointer;
    background-color: yellow;
}
#error {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
#pealeht {
	font-size: 20px;
	color: blue;
}