select, input {
    width: 100%;
    box-sizing: border-box;
}


.t2rn {
    color: red;
}

#wrap {
	margin-left: 150px;
	width: 1000px;
}

#menu {
    text-align: right;
    background: skyblue;
}
#menu ul {
    margin: 0px;
    list-style: none;
    margin-right: 10px;
    
}
#menu > li {
    display: inline-block;
    float: right;
     text-align: center; 
    width: 15%;
    background: skyblue;
      margin-top: 60px;
   
}
li a {
    display: inline-block;
    
} 

#autod {
	width: 1000px; 
	height: 400px;
	border-style: solid;
    border-width: 3px;
    border-color:blue;
    margin: 10px;
}

#info {

border-style: solid;
    border-width: 1px;
    border-color:yellow;
    float:left;	 
    width: 300px; 
    height: 400px;
}

#kuva {
    border-style: solid;
    border-width: 1px;
    border-color:red;	
	float: left;
	width: 400px; 
	height: 400px;
	
}


 
#wrap {
	 margin-top: 20px;
 }
 
 #header {
	 border-style: solid;
     border-width: 1px;
     height:100px;
     
 }
 #omadused {
	 border: 1px solid black;
     width: 300px;
     height: 300px;
     
 }
 
 #omadused th {
	 background-color: skyblue;
  
 }
 #omadused td {
	
    border-bottom: 1px solid #ff8c66;
    text-align: center;

	 
 }
 #broneeri {
	 
	 width: 100px;
	 height: 40px; 
	 background-color: #ff8c66;
	 color: blue;
	 font-weight: bold;
	 border-style: outset;
     border-color: blue;
     border-width: 2px;
     text-transform: uppercase;
 }
  #broneeri {
	  margin-top: 20px;
  }
  
  #algus, #l6pp {
	  width: 100px; 
  }
  
 #valmis {
	  margin-top: 200px;
  }